<div class="container">
  <div class = "header">
    <a id = "daimei">Okogoto</a>

    <b id="my-words-link" style"margin:10px;">
        <%= link_to '皆の小言', words_path %>
    </b>

    <% if current_user %>
      <b id="user-edit-link">
        <%= link_to 'プロフィール設定', edit_user_registration_path %>
      </b>
    <% end %>
    
    <% if current_user %>
      <b id="signin-link">
        <%= link_to 'サインアウト', destroy_user_session_path, method: :delete, data: {confirm: 'roguauto simasuka?'}%>
      </b>
    <% else %>
      <b id="signin-link">
        <%= link_to 'サインイン', new_user_session_path%>
      </b>
    <% end %>
  </div>

  <div class="border border-success rounded col-sm-12 col-md-6 word-show-shpanel">
    <div class= "word-title text-center">
      <h2><%= @word.line1 %></h2>
      <h2><%= @word.line2 %></h2>
      <h2><%= @word.line3 %></h2>
    </div>
    <div class="word-links">
           
      <h2><%=  @word.user.name %></h2>
      <br>
      <br>
      <%= link_to '戻る', words_path, class: 'btn btn-default border' %>          
      <%= link_to 'Edit', edit_word_path(@word), class: 'btn btn-info' %>
      <%= link_to 'Destroy', @word, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  </div>

</div>